/* ===========Variable CSS========== */
:root {
  --header-height: 3rem;

  /* ====== COLORS ====== */

  /* DECIDE BROWSER THEME */
  --hue-color: 340;

  /* hsl(var(--hue-color), 69%, 58%)*/
  --first-color: #f5b1b9;
  --first-color--second: #f571b1;
  --first-color-alt: #ff6f61;
  --first-color-lighter: #f3b7c1;
  --title-color: hsl(var(--hue-color), 10%, 15%);
  --text-color: hsl(var(--hue-color), 10%, 40%);
  --mainText: hsl(var(--hue-color), 10%, 20%);
  --text-color-light: hsl(var(--hue-color), 10%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 88%);
  --body-color: hsl(var(--hue-color), 66%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 15%, 85%);
  --scroll-thumb-color: hsl(var(--hue-color), 15%, 70%);
  --gradient-color: linear-gradient(
    266deg,
    rgba(245, 155, 213, 0.9604366987179487) 14%,
    rgba(219, 178, 209, 1) 35%,
    rgba(194, 180, 226, 1) 58%,
    rgba(232, 181, 206, 1) 100%
  );

  /* ====== FONT AND TYPOGRAPHY ====== */
  --gullible-font: "Maven Pro", sans-serif;
  --pacifico-font: "Pacifico", cursive;
  --body-font: "Poppins", sans-serif;
  --roboto-font: "Roboto", sans-serif;
  --robotomono-font: "Roboto Mono", monospace;
  --sacramento-font: "Sacramento", cursive;
}
